# Variables de entorno del Backend
PORT=3000
JWT_SECRET=ad-project-super-secret-key-2024

# En producción cambiar por URL de BD real
# DATABASE_URL=postgresql://user:password@host:5432/chat_db
# NO TOCAR